{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="">

        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>Kasi Food</title>
        {% endif %}

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li >
                <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">More</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
            </li>
        </ul>
        
        {% block content %}
        {% endblock %}
    </body>
</html>