{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for product in products %}
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ product.image.url }}">
                        <div class="card-body">
                            <h2 class="card-title">{{product.name}}</h2>
                            <p class="card-text">{{product.description}}</p>
                            <a class="btn" href="#">Explore</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}