{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class ="">
    </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                {{ form.as_p }}
            </fieldset>
            <button type="submit">Sign In</button>
        </form>
    <div>
        <small>
            Do not have an account?
            <a href="{% url 'register' %}">Sign Up</a>
        </small>
    </div>
{% endblock content %} 